<aside class="w-72 bg-black h-screen p-6 border-r border-zinc-800 flex flex-col">
    
    <div class="my-8 space-y-8">
        <div>
            <h1 class="text-md font-semibold text-white mb-3 text-center">DATOS OFICIALES</h1>
            <h3 class="text-sm font-semibold text-zinc-400 mb-3 text-center">COMIENZA EN</h3>
            <div id="countdown" class="grid grid-cols-4 gap-2 text-center">
                <div>
                    <span id="days" class="text-2xl font-bold text-white">0</span>
                    <span class="text-xs text-zinc-500 block">Días</span>
                </div>
                <div>
                    <span id="hours" class="text-2xl font-bold text-white">0</span>
                    <span class="text-xs text-zinc-500 block">Horas</span>
                </div>
                <div>
                    <span id="minutes" class="text-2xl font-bold text-white">0</span>
                    <span class="text-xs text-zinc-500 block">Mins</span>
                </div>
                <div>
                    <span id="seconds" class="text-2xl font-bold text-white">0</span>
                    <span class="text-xs text-zinc-500 block">Segs</span>
                </div>
            </div>
        </div>

        <div>
            <h3 class="text-sm font-semibold text-zinc-400 mb-3">CLASIFICADOS (3/48)</h3>
            <div class="grid grid-cols-3 gap-3">
                <div class="flex items-center space-x-2 bg-zinc-800 p-2 rounded-md">
                    <img src="https://flagcdn.com/w20/mx.png" alt="Bandera de México">
                    <span class="text-sm font-medium">MEX</span>
                </div>
                <div class="flex items-center space-x-2 bg-zinc-800 p-2 rounded-md">
                    <img src="https://flagcdn.com/w20/us.png" alt="Bandera de Estados Unidos">
                    <span class="text-sm font-medium">USA</span>
                </div>
                <div class="flex items-center space-x-2 bg-zinc-800 p-2 rounded-md">
                    <img src="https://flagcdn.com/w20/ca.png" alt="Bandera de Canadá">
                    <span class="text-sm font-medium">CAN</span>
                </div>
            </div>
        </div>
    </div>
    
</aside>