-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: BDM
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping routines for database 'BDM'
--
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_calcular_popularidad` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_calcular_popularidad`(p_idPublicacion INT) RETURNS int(11)
    DETERMINISTIC
BEGIN
    DECLARE v_popularidad INT;
    
    SELECT (likes - dislikes) INTO v_popularidad
    FROM Publicacion
    WHERE idPublicacion = p_idPublicacion;
    
    RETURN COALESCE(v_popularidad, 0);
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_calcular_popularidad_post` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_calcular_popularidad_post`(p_idPublicacion INT

) RETURNS int(11)
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE v_likes INT DEFAULT 0;

    DECLARE v_dislikes INT DEFAULT 0;

    DECLARE v_comentarios INT DEFAULT 0;

    DECLARE v_score INT DEFAULT 0;

    

    -- Contar likes

    SELECT COUNT(*) INTO v_likes

    FROM Interaccion

    WHERE idPublicacion = p_idPublicacion AND tipo = 'like';

    

    -- Contar dislikes

    SELECT COUNT(*) INTO v_dislikes

    FROM Interaccion

    WHERE idPublicacion = p_idPublicacion AND tipo = 'dislike';

    

    -- Contar comentarios

    SELECT COUNT(*) INTO v_comentarios

    FROM Comentario

    WHERE idPublicacion = p_idPublicacion;

    

    -- Calcular score: likes positivo, dislikes negativo, comentarios x2

    SET v_score = v_likes - v_dislikes + (v_comentarios * 2);

    

    RETURN v_score;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_validar_email` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_validar_email`(p_email VARCHAR(100)

) RETURNS tinyint(1)
    NO SQL
    DETERMINISTIC
BEGIN

    DECLARE v_valido BOOLEAN DEFAULT FALSE;

    

    -- Validar que contenga @ y punto despu├®s del @

    IF p_email REGEXP '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$' THEN

        SET v_valido = TRUE;

    END IF;

    

    RETURN v_valido;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_verificar_interaccion_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_verificar_interaccion_usuario`(p_idUsuario INT, p_idPublicacion INT) RETURNS varchar(10) CHARSET utf8mb4 COLLATE utf8mb4_general_ci
    DETERMINISTIC
BEGIN
    DECLARE v_tipo VARCHAR(10);
    
    SELECT tipo INTO v_tipo
    FROM Interaccion
    WHERE idUsuario = p_idUsuario AND idPublicacion = p_idPublicacion;
    
    RETURN COALESCE(v_tipo, 'ninguna');
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_categoria` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_categoria`(
    IN p_idCategoria INT,
    IN p_nombre VARCHAR(50),
    IN p_descripcion TEXT,
    IN p_color VARCHAR(7)
)
BEGIN
    UPDATE Categoria
    SET nombre = COALESCE(p_nombre, nombre),
        descripcion = COALESCE(p_descripcion, descripcion),
        color = COALESCE(p_color, color)
    WHERE idCategoria = p_idCategoria;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_comentario`(
    IN p_idComentario INT,
    IN p_contenido TEXT
)
BEGIN
    UPDATE Comentario
    SET contenido = p_contenido, editado = TRUE, fechaEdicion = NOW()
    WHERE idComentario = p_idComentario;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_estado_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_estado_publicacion`(
    IN p_idPublicacion INT,
    IN p_estado ENUM('pendiente', 'aprobada', 'rechazada')
)
BEGIN
    IF p_estado = 'aprobada' THEN
        UPDATE Publicacion SET estado = p_estado, fechaAprobacion = NOW()
        WHERE idPublicacion = p_idPublicacion;
    ELSE
        UPDATE Publicacion SET estado = p_estado WHERE idPublicacion = p_idPublicacion;
    END IF;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_foto_perfil` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_foto_perfil`(
    IN p_idUsuario INT,
    IN p_foto VARCHAR(255)
)
BEGIN
    UPDATE Usuario SET foto = p_foto WHERE idUsuario = p_idUsuario;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_mundial` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_mundial`(
    IN p_idMundial INT,
    IN p_anio INT,
    IN p_paisSede VARCHAR(50),
    IN p_logo VARCHAR(255),
    IN p_nombreOficial VARCHAR(100),
    IN p_descripcion TEXT,
    IN p_fechaInicio DATE,
    IN p_fechaFin DATE,
    IN p_numeroEquipos INT,
    IN p_estado VARCHAR(20)
)
BEGIN
    UPDATE Mundial
    SET anio = COALESCE(p_anio, anio),
        paisSede = COALESCE(p_paisSede, paisSede),
        logo = COALESCE(p_logo, logo),
        nombreOficial = COALESCE(p_nombreOficial, nombreOficial),
        descripcion = COALESCE(p_descripcion, descripcion),
        fechaInicio = COALESCE(p_fechaInicio, fechaInicio),
        fechaFin = COALESCE(p_fechaFin, fechaFin),
        numeroEquipos = COALESCE(p_numeroEquipos, numeroEquipos),
        estado = COALESCE(p_estado, estado)
    WHERE idMundial = p_idMundial;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_perfil_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_perfil_usuario`(
    IN p_idUsuario INT,
    IN p_nombreCompleto VARCHAR(100),
    IN p_fechaNacimiento DATE,
    IN p_genero VARCHAR(20),
    IN p_paisNacimiento VARCHAR(50),
    IN p_nacionalidad VARCHAR(50)
)
BEGIN
    UPDATE Usuario
    SET nombreCompleto = COALESCE(p_nombreCompleto, nombreCompleto),
        fechaNacimiento = COALESCE(p_fechaNacimiento, fechaNacimiento),
        genero = COALESCE(NULLIF(p_genero, ''), genero),
        paisNacimiento = COALESCE(NULLIF(p_paisNacimiento, ''), paisNacimiento),
        nacionalidad = COALESCE(NULLIF(p_nacionalidad, ''), nacionalidad)
    WHERE idUsuario = p_idUsuario;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_publicacion`(
    IN p_idPublicacion INT,
    IN p_titulo VARCHAR(150),
    IN p_contenido TEXT,
    IN p_urlMultimedia VARCHAR(255),
    IN p_idCategoria INT,
    IN p_idMundial INT
)
BEGIN
    UPDATE Publicacion
    SET titulo = p_titulo, contenido = p_contenido, urlMultimedia = p_urlMultimedia,
        idCategoria = p_idCategoria, idMundial = p_idMundial
    WHERE idPublicacion = p_idPublicacion;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_aprobar_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_aprobar_publicacion`(
    IN p_idPublicacion INT
)
BEGIN
    UPDATE Publicacion SET estado = 'aprobada', fechaAprobacion = NOW()
    WHERE idPublicacion = p_idPublicacion;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_contar_interacciones` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_contar_interacciones`(
    IN p_idPublicacion INT
)
BEGIN
    SELECT 
        COUNT(CASE WHEN tipo = 'like' THEN 1 END) as totalLikes,
        COUNT(CASE WHEN tipo = 'dislike' THEN 1 END) as totalDislikes
    FROM Interaccion
    WHERE idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_categoria` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_categoria`(
    IN p_nombre VARCHAR(50),
    IN p_descripcion TEXT,
    IN p_color VARCHAR(7)
)
BEGIN
    INSERT INTO Categoria (nombre, descripcion, color)
    VALUES (p_nombre, p_descripcion, p_color);
    SELECT LAST_INSERT_ID() as idCategoria;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_comentario`(
    IN p_contenido TEXT,
    IN p_idUsuario INT,
    IN p_idPublicacion INT
)
BEGIN
    INSERT INTO Comentario (contenido, idUsuario, idPublicacion)
    VALUES (p_contenido, p_idUsuario, p_idPublicacion);
    SELECT LAST_INSERT_ID() as idComentario;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_interaccion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_interaccion`(
    IN p_tipo ENUM('like', 'dislike'),
    IN p_idUsuario INT,
    IN p_idPublicacion INT
)
BEGIN
    INSERT INTO Interaccion (tipo, idUsuario, idPublicacion)
    VALUES (p_tipo, p_idUsuario, p_idPublicacion)
    ON DUPLICATE KEY UPDATE tipo = p_tipo, fecha = NOW();
    
    UPDATE Publicacion p
    SET 
        likes = (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p_idPublicacion AND tipo = 'like'),
        dislikes = (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p_idPublicacion AND tipo = 'dislike')
    WHERE idPublicacion = p_idPublicacion;
    
    SELECT LAST_INSERT_ID() as idInteraccion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_mundial` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_mundial`(
    IN p_anio INT,
    IN p_paisSede VARCHAR(50),
    IN p_logo VARCHAR(255),
    IN p_nombreOficial VARCHAR(100),
    IN p_descripcion TEXT,
    IN p_fechaInicio DATE,
    IN p_fechaFin DATE,
    IN p_numeroEquipos INT,
    IN p_estado VARCHAR(20)
)
BEGIN
    INSERT INTO Mundial (anio, paisSede, logo, nombreOficial, descripcion, fechaInicio, fechaFin, numeroEquipos, estado)
    VALUES (p_anio, p_paisSede, p_logo, p_nombreOficial, p_descripcion, p_fechaInicio, p_fechaFin, p_numeroEquipos, p_estado);
    SELECT LAST_INSERT_ID() as idMundial;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_publicacion`(
    IN p_titulo VARCHAR(150),
    IN p_contenido TEXT,
    IN p_urlMultimedia VARCHAR(255),
    IN p_idUsuario INT,
    IN p_idCategoria INT,
    IN p_idMundial INT
)
BEGIN
    INSERT INTO Publicacion (titulo, contenido, urlMultimedia, idUsuario, idCategoria, idMundial, estado)
    VALUES (p_titulo, p_contenido, p_urlMultimedia, p_idUsuario, p_idCategoria, p_idMundial, 'pendiente');
    SELECT LAST_INSERT_ID() as idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_crear_publicacion_blob` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_crear_publicacion_blob`(
    IN p_titulo VARCHAR(150),
    IN p_contenido TEXT,
    IN p_multimediaBlob LONGBLOB,
    IN p_mimeType VARCHAR(50),
    IN p_nombre VARCHAR(255),
    IN p_idUsuario INT,
    IN p_idCategoria INT,
    IN p_idMundial INT
)
BEGIN
    INSERT INTO Publicacion (
        titulo, contenido, 
        multimediaBlob, multimediaMimeType, multimediaNombre,
        idUsuario, idCategoria, idMundial, estado
    )
    VALUES (
        p_titulo, p_contenido,
        p_multimediaBlob, p_mimeType, p_nombre,
        p_idUsuario, p_idCategoria, p_idMundial, 'pendiente'
    );
    
    SELECT LAST_INSERT_ID() as idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_eliminar_categoria` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_eliminar_categoria`(
    IN p_idCategoria INT
)
BEGIN
    UPDATE Categoria SET activa = FALSE WHERE idCategoria = p_idCategoria;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_eliminar_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_eliminar_comentario`(
    IN p_idComentario INT
)
BEGIN
    UPDATE Comentario SET activo = FALSE WHERE idComentario = p_idComentario;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_reactivar_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_reactivar_comentario`(
    IN p_idComentario INT
)
BEGIN
    UPDATE Comentario SET activo = TRUE WHERE idComentario = p_idComentario;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_eliminar_interaccion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_eliminar_interaccion`(
    IN p_idUsuario INT,
    IN p_idPublicacion INT
)
BEGIN
    DELETE FROM Interaccion 
    WHERE idUsuario = p_idUsuario AND idPublicacion = p_idPublicacion;
    
    UPDATE Publicacion p
    SET 
        likes = (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p_idPublicacion AND tipo = 'like'),
        dislikes = (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p_idPublicacion AND tipo = 'dislike')
    WHERE idPublicacion = p_idPublicacion;
    
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_eliminar_mundial` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_eliminar_mundial`(
    IN p_idMundial INT
)
BEGIN
    DELETE FROM Mundial WHERE idMundial = p_idMundial;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_eliminar_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_eliminar_publicacion`(
    IN p_idPublicacion INT
)
BEGIN
    DELETE FROM Publicacion WHERE idPublicacion = p_idPublicacion;
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_incrementar_vistas_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_incrementar_vistas_publicacion`(
    IN p_idPublicacion INT
)
BEGIN
    UPDATE Publicacion 
    SET vistas = vistas + 1 
    WHERE idPublicacion = p_idPublicacion;
    
    SELECT vistas FROM Publicacion WHERE idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_login` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_login`(
    IN p_correoElectronico VARCHAR(100)
)
BEGIN
    SELECT 
        idUsuario, nombreCompleto, correoElectronico, contrasena, 
        fechaNacimiento, genero, paisNacimiento, nacionalidad,
        foto,
        CASE WHEN fotoBlob IS NOT NULL THEN 1 ELSE 0 END as tieneFotoBlob,
        rol, activo, fechaRegistro
    FROM Usuario
    WHERE correoElectronico = p_correoElectronico AND activo = TRUE;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_categorias` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_categorias`()
BEGIN
    SELECT idCategoria, nombre, descripcion, color, activa, fechaCreacion
    FROM Categoria
    WHERE activa = TRUE
    ORDER BY nombre ASC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_categoria_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_categoria_por_id`(
    IN p_idCategoria INT
)
BEGIN
    SELECT idCategoria, nombre, descripcion, color, activa, fechaCreacion
    FROM Categoria
    WHERE idCategoria = p_idCategoria;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_comentarios` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_comentarios`(

    IN p_idPublicacion INT,

    IN p_idUsuario INT

)
BEGIN

    SELECT 

        c.idComentario,

        c.contenido,

        c.fechaComentario,

        c.editado,

        c.fechaEdicion,

        c.idUsuario,

        u.nombreCompleto as nombreAutor,

        u.foto as fotoAutor,

        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob,

        (
            SELECT COUNT(*) 
            FROM ReporteComentario rc 
            WHERE rc.idComentario = c.idComentario AND rc.estado = 'pendiente'
        ) AS reportesPendientes,

        (
            SELECT COUNT(*) 
            FROM ReporteComentario rc2 
            WHERE rc2.idComentario = c.idComentario AND rc2.estado IN ('pendiente','revisado')
        ) AS totalReportes,

        CASE 
            WHEN p_idUsuario IS NULL THEN 0
            WHEN EXISTS (
                SELECT 1 
                FROM ReporteComentario rc3 
                WHERE rc3.idComentario = c.idComentario 
                  AND rc3.idUsuarioReportador = p_idUsuario
            ) THEN 1
            ELSE 0
        END AS usuarioReporto

    FROM Comentario c

    INNER JOIN Usuario u ON c.idUsuario = u.idUsuario

    WHERE c.idPublicacion = p_idPublicacion AND c.activo = TRUE

    ORDER BY c.fechaComentario ASC;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_comentarios_por_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_comentarios_por_publicacion`(
    IN p_idPublicacion INT
)
BEGIN
    SELECT 
        c.idComentario, c.contenido, c.fechaComentario, c.activo,
        u.idUsuario, u.nombreCompleto as nombreAutor, u.foto as fotoAutor,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob
    FROM Comentario c
    INNER JOIN Usuario u ON c.idUsuario = u.idUsuario
    WHERE c.idPublicacion = p_idPublicacion AND c.activo = TRUE
    ORDER BY c.fechaComentario DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_reportar_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_reportar_comentario`(
    IN p_idComentario INT,
    IN p_idUsuario INT,
    IN p_motivo ENUM('spam','lenguaje_ofensivo','acoso','contenido_inapropiado','otro'),
    IN p_descripcion TEXT
)
sp_reportar_comentario:BEGIN
    DECLARE v_idReporte INT;
    DECLARE v_activo TINYINT;

    SET p_descripcion = NULLIF(p_descripcion, '');

    -- Validar comentario existente y activo
    SELECT activo INTO v_activo
    FROM Comentario
    WHERE idComentario = p_idComentario;

    IF v_activo IS NULL THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Comentario no encontrado';
    END IF;

    IF v_activo = 0 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Comentario inactivo';
    END IF;

    -- Actualizar reporte existente del mismo usuario, si lo hay
    SELECT idReporte INTO v_idReporte
    FROM ReporteComentario
    WHERE idComentario = p_idComentario AND idUsuarioReportador = p_idUsuario
    LIMIT 1;

    IF v_idReporte IS NOT NULL THEN
        UPDATE ReporteComentario
        SET motivo = p_motivo,
            descripcion = p_descripcion,
            estado = 'pendiente',
            fechaReporte = NOW()
        WHERE idReporte = v_idReporte;

        SELECT v_idReporte AS idReporte;
        LEAVE sp_reportar_comentario;
    END IF;

    INSERT INTO ReporteComentario (idComentario, idUsuarioReportador, motivo, descripcion, estado, fechaReporte)
    VALUES (p_idComentario, p_idUsuario, p_motivo, p_descripcion, 'pendiente', NOW());

    SELECT LAST_INSERT_ID() AS idReporte;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_reportes_comentarios` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_reportes_comentarios`(
    IN p_estado VARCHAR(20)
)
BEGIN
    SELECT 
        rc.idReporte,
        rc.idComentario,
        rc.idUsuarioReportador,
        rc.motivo,
        rc.descripcion,
        rc.fechaReporte,
        rc.estado,
        c.contenido AS contenidoComentario,
        c.fechaComentario,
        c.activo AS comentarioActivo,
        c.idUsuario AS idAutorComentario,
        autor.nombreCompleto AS nombreAutorComentario,
        autor.foto AS fotoAutorComentario,
        CASE WHEN autor.fotoBlob IS NOT NULL THEN 1 ELSE 0 END AS autorComentarioTieneBlob,
        p.idPublicacion,
        p.titulo AS tituloPublicacion,
        reportador.nombreCompleto AS nombreReportador,
        reportador.foto AS fotoReportador,
        CASE WHEN reportador.fotoBlob IS NOT NULL THEN 1 ELSE 0 END AS reportadorTieneBlob
    FROM ReporteComentario rc
    INNER JOIN Comentario c ON rc.idComentario = c.idComentario
    INNER JOIN Publicacion p ON c.idPublicacion = p.idPublicacion
    INNER JOIN Usuario autor ON c.idUsuario = autor.idUsuario
    INNER JOIN Usuario reportador ON rc.idUsuarioReportador = reportador.idUsuario
    WHERE (p_estado IS NULL OR p_estado = '' OR rc.estado = p_estado)
    ORDER BY (rc.estado = 'pendiente') DESC, rc.fechaReporte DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_reporte_comentario_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_reporte_comentario_por_id`(
    IN p_idReporte INT
)
BEGIN
    SELECT 
        rc.idReporte,
        rc.idComentario,
        rc.idUsuarioReportador,
        rc.motivo,
        rc.descripcion,
        rc.fechaReporte,
        rc.estado,
        c.idUsuario AS idAutorComentario,
        c.activo AS comentarioActivo
    FROM ReporteComentario rc
    INNER JOIN Comentario c ON rc.idComentario = c.idComentario
    WHERE rc.idReporte = p_idReporte
    LIMIT 1;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_actualizar_estado_reporte_comentario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_actualizar_estado_reporte_comentario`(
    IN p_idReporte INT,
    IN p_estado ENUM('pendiente','revisado','accion_tomada')
)
BEGIN
    IF p_estado NOT IN ('pendiente','revisado','accion_tomada') THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Estado inválido';
    END IF;

    UPDATE ReporteComentario
    SET estado = p_estado
    WHERE idReporte = p_idReporte;

    SELECT ROW_COUNT() AS filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_estadisticas_comentarios_admin` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_estadisticas_comentarios_admin`()
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Comentario WHERE activo = TRUE) AS totalComentarios,
        (SELECT COUNT(*) FROM Comentario WHERE activo = FALSE) AS totalEliminados,
        (SELECT COUNT(DISTINCT idComentario) FROM ReporteComentario) AS totalReportados,
        (SELECT COUNT(*) FROM ReporteComentario WHERE estado = 'pendiente') AS reportesPendientes;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_comentario_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_comentario_por_id`(
    IN p_idComentario INT
)
BEGIN
    SELECT 
        c.idComentario,
        c.contenido,
        c.fechaComentario,
        c.idUsuario,
        c.idPublicacion,
        c.activo
    FROM Comentario c
    WHERE c.idComentario = p_idComentario
    LIMIT 1;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_estadisticas_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_estadisticas_usuario`(
    IN p_idUsuario INT
)
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Publicacion WHERE idUsuario = p_idUsuario) as totalPublicaciones,
        (SELECT COUNT(*) FROM Publicacion WHERE idUsuario = p_idUsuario AND estado = 'aprobada') as publicacionesAprobadas,
        (SELECT COUNT(*) FROM Publicacion WHERE idUsuario = p_idUsuario AND estado = 'pendiente') as publicacionesPendientes,
        (SELECT COUNT(*) FROM Publicacion WHERE idUsuario = p_idUsuario AND estado = 'rechazada') as publicacionesRechazadas,
        (SELECT COUNT(*) FROM Comentario WHERE idUsuario = p_idUsuario) as totalComentarios,
        (SELECT COALESCE(SUM(likes), 0) FROM Publicacion WHERE idUsuario = p_idUsuario) as totalLikes,
        (SELECT COALESCE(SUM(dislikes), 0) FROM Publicacion WHERE idUsuario = p_idUsuario) as totalDislikes;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_foto_blob` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_foto_blob`(
    IN p_idUsuario INT
)
BEGIN
    SELECT fotoBlob, fotoMimeType, fotoNombre
    FROM Usuario
    WHERE idUsuario = p_idUsuario;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_interaccion_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_interaccion_usuario`(
    IN p_idUsuario INT,
    IN p_idPublicacion INT
)
BEGIN
    SELECT idInteraccion, tipo, fecha
    FROM Interaccion
    WHERE idUsuario = p_idUsuario AND idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_multimedia_blob` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_multimedia_blob`(
    IN p_idPublicacion INT
)
BEGIN
    SELECT multimediaBlob, multimediaMimeType, multimediaNombre
    FROM Publicacion
    WHERE idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_mundiales` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_mundiales`()
BEGIN
    SELECT idMundial, anio, paisSede, logo, nombreOficial,
           descripcion, fechaInicio, fechaFin, numeroEquipos, estado, fechaCreacion
    FROM Mundial
    ORDER BY anio DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_mundial_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_mundial_por_id`(
    IN p_idMundial INT
)
BEGIN
    SELECT idMundial, anio, paisSede, logo, nombreOficial,
           descripcion, fechaInicio, fechaFin, numeroEquipos, estado, fechaCreacion
    FROM Mundial
    WHERE idMundial = p_idMundial;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_publicaciones_aprobadas` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_publicaciones_aprobadas`()
BEGIN
    SELECT 
        p.idPublicacion, p.titulo, p.contenido, p.urlMultimedia, p.estado,
        p.multimediaMimeType, p.multimediaNombre,
        CASE WHEN p.multimediaBlob IS NOT NULL THEN 1 ELSE 0 END as tieneBlob,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'like') as likes,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'dislike') as dislikes,
        p.vistas,
        p.fechaPublicacion, p.fechaAprobacion,
        u.idUsuario, u.nombreCompleto as nombreAutor, u.foto as fotoAutor,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob,
        c.idCategoria, c.nombre as nombreCategoria, c.color as colorCategoria,
        m.idMundial, m.anio as anioMundial, m.paisSede,
        (SELECT COUNT(*) FROM Comentario WHERE idPublicacion = p.idPublicacion AND activo = TRUE) as totalComentarios
    FROM Publicacion p
    INNER JOIN Usuario u ON p.idUsuario = u.idUsuario
    INNER JOIN Categoria c ON p.idCategoria = c.idCategoria
    INNER JOIN Mundial m ON p.idMundial = m.idMundial
    WHERE p.estado = 'aprobada'
    ORDER BY p.fechaPublicacion DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_publicaciones_pendientes` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_publicaciones_pendientes`()
BEGIN
    SELECT 
        p.idPublicacion, p.titulo, p.contenido, p.urlMultimedia, p.fechaPublicacion,
        p.estado, p.likes, p.dislikes, p.idUsuario,
        u.nombreCompleto as nombreAutor, u.correoElectronico as emailAutor,
        u.foto as fotoAutor,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob,
        c.idCategoria, c.nombre as nombreCategoria, c.color as colorCategoria,
        m.idMundial, m.anio as anioMundial, m.paisSede
    FROM Publicacion p
    INNER JOIN Usuario u ON p.idUsuario = u.idUsuario
    INNER JOIN Categoria c ON p.idCategoria = c.idCategoria
    INNER JOIN Mundial m ON p.idMundial = m.idMundial
    WHERE p.estado = 'pendiente'
    ORDER BY p.fechaPublicacion DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_publicaciones_por_estado` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_publicaciones_por_estado`(
    IN p_estado VARCHAR(20)
)
BEGIN
    SELECT 
        p.idPublicacion, p.titulo, p.contenido, p.urlMultimedia, p.estado,
        p.multimediaMimeType, p.multimediaNombre,
        CASE WHEN p.multimediaBlob IS NOT NULL THEN 1 ELSE 0 END as tieneBlob,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'like') as likes,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'dislike') as dislikes,
        p.vistas,
        p.fechaPublicacion, p.fechaAprobacion,
        u.idUsuario, u.nombreCompleto as nombreAutor, u.foto as fotoAutor,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob,
        c.idCategoria, c.nombre as nombreCategoria, c.color as colorCategoria,
        m.idMundial, m.anio as anioMundial, m.paisSede,
        (SELECT COUNT(*) FROM Comentario WHERE idPublicacion = p.idPublicacion AND activo = TRUE) as totalComentarios
    FROM Publicacion p
    INNER JOIN Usuario u ON p.idUsuario = u.idUsuario
    INNER JOIN Categoria c ON p.idCategoria = c.idCategoria
    INNER JOIN Mundial m ON p.idMundial = m.idMundial
    WHERE p.estado = p_estado
    ORDER BY p.fechaPublicacion DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_publicaciones_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_publicaciones_usuario`(
    IN p_idUsuario INT
)
BEGIN
    SELECT 
        p.idPublicacion, p.titulo, p.contenido, p.urlMultimedia,
        p.multimediaMimeType, p.multimediaNombre,
        CASE WHEN p.multimediaBlob IS NOT NULL THEN 1 ELSE 0 END as tieneBlob,
        p.fechaPublicacion, p.estado,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'like') as likes,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'dislike') as dislikes,
        p.vistas,
        (SELECT COUNT(*) FROM Comentario WHERE idPublicacion = p.idPublicacion AND activo = TRUE) as totalComentarios,
        c.idCategoria, c.nombre as nombreCategoria, c.color as colorCategoria,
        m.idMundial, m.anio as anioMundial, m.paisSede
    FROM Publicacion p
    INNER JOIN Categoria c ON p.idCategoria = c.idCategoria
    INNER JOIN Mundial m ON p.idMundial = m.idMundial
    WHERE p.idUsuario = p_idUsuario
    ORDER BY p.fechaPublicacion DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_publicacion_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_publicacion_por_id`(
    IN p_idPublicacion INT
)
BEGIN
    SELECT 
        p.idPublicacion, p.titulo, p.contenido, p.urlMultimedia, p.estado,
        p.multimediaMimeType, p.multimediaNombre,
        CASE WHEN p.multimediaBlob IS NOT NULL THEN 1 ELSE 0 END as tieneBlob,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'like') as likes,
        (SELECT COUNT(*) FROM Interaccion WHERE idPublicacion = p.idPublicacion AND tipo = 'dislike') as dislikes,
        p.vistas,
        p.fechaPublicacion, p.fechaAprobacion,
        u.idUsuario, u.nombreCompleto as nombreAutor, u.foto as fotoAutor,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob,
        c.idCategoria, c.nombre as nombreCategoria, c.color as colorCategoria,
        m.idMundial, m.anio as anioMundial, m.paisSede,
        (SELECT COUNT(*) FROM Comentario WHERE idPublicacion = p.idPublicacion AND activo = TRUE) as totalComentarios
    FROM Publicacion p
    INNER JOIN Usuario u ON p.idUsuario = u.idUsuario
    INNER JOIN Categoria c ON p.idCategoria = c.idCategoria
    INNER JOIN Mundial m ON p.idMundial = m.idMundial
    WHERE p.idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_todos_comentarios` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_todos_comentarios`()
BEGIN
    SELECT 
        c.idComentario, c.contenido, c.fechaComentario,
        c.idPublicacion, p.titulo as tituloPublicacion,
        u.idUsuario, u.nombreCompleto as nombreAutor, c.activo,
        CASE WHEN u.fotoBlob IS NOT NULL THEN 1 ELSE 0 END as autorTieneFotoBlob
    FROM Comentario c
    INNER JOIN Publicacion p ON c.idPublicacion = p.idPublicacion
    INNER JOIN Usuario u ON c.idUsuario = u.idUsuario
    WHERE c.activo = TRUE
    ORDER BY c.fechaComentario DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_todos_usuarios` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_todos_usuarios`()
BEGIN
    SELECT 
        idUsuario, nombreCompleto, correoElectronico, fechaNacimiento,
        genero, paisNacimiento, nacionalidad, foto,
        CASE WHEN fotoBlob IS NOT NULL THEN 1 ELSE 0 END as tieneFotoBlob,
        rol, activo, fechaRegistro
    FROM Usuario
    WHERE activo = TRUE
    ORDER BY fechaRegistro DESC;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_usuario_por_email` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_usuario_por_email`(
    IN p_correoElectronico VARCHAR(100)
)
BEGIN
    SELECT 
        idUsuario, nombreCompleto, correoElectronico, contrasena,
        fechaNacimiento, genero, paisNacimiento, nacionalidad,
        foto,
        CASE WHEN fotoBlob IS NOT NULL THEN 1 ELSE 0 END as tieneFotoBlob,
        rol, activo, fechaRegistro
    FROM Usuario
    WHERE correoElectronico = p_correoElectronico;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_obtener_usuario_por_id` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_obtener_usuario_por_id`(
    IN p_idUsuario INT
)
BEGIN
    SELECT 
        idUsuario, nombreCompleto, correoElectronico, fechaNacimiento,
        genero, paisNacimiento, nacionalidad, foto,
        CASE WHEN fotoBlob IS NOT NULL THEN 1 ELSE 0 END as tieneFotoBlob,
        rol, activo, fechaRegistro
    FROM Usuario
    WHERE idUsuario = p_idUsuario AND activo = TRUE;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_registrar_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_registrar_usuario`(
    IN p_nombreCompleto VARCHAR(100),
    IN p_correoElectronico VARCHAR(100),
    IN p_contrasena VARCHAR(255),
    IN p_fechaNacimiento DATE,
    IN p_genero VARCHAR(20),
    IN p_paisNacimiento VARCHAR(50),
    IN p_nacionalidad VARCHAR(50),
    IN p_foto VARCHAR(255)
)
BEGIN
    INSERT INTO Usuario (
        nombreCompleto,
        correoElectronico,
        contrasena,
        fechaNacimiento,
        genero,
        paisNacimiento,
        nacionalidad,
        foto,
        rol,
        activo
    )
    VALUES (
        p_nombreCompleto,
        p_correoElectronico,
        p_contrasena,
        p_fechaNacimiento,
        NULLIF(p_genero, ''),
        NULLIF(p_paisNacimiento, ''),
        NULLIF(p_nacionalidad, ''),
        p_foto,
        'usuario',
        TRUE
    );
    SELECT LAST_INSERT_ID() as idUsuario;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_subir_foto_blob` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_subir_foto_blob`(
    IN p_idUsuario INT,
    IN p_fotoBlob LONGBLOB,
    IN p_mimeType VARCHAR(50),
    IN p_nombre VARCHAR(255)
)
BEGIN
    UPDATE Usuario
    SET fotoBlob = p_fotoBlob,
        fotoMimeType = p_mimeType,
        fotoNombre = p_nombre,
        foto = NULL
    WHERE idUsuario = p_idUsuario;
    
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_subir_multimedia_blob` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_subir_multimedia_blob`(
    IN p_idPublicacion INT,
    IN p_multimediaBlob LONGBLOB,
    IN p_mimeType VARCHAR(50),
    IN p_nombre VARCHAR(255)
)
BEGIN
    UPDATE Publicacion
    SET multimediaBlob = p_multimediaBlob,
        multimediaMimeType = p_mimeType,
        multimediaNombre = p_nombre,
        urlMultimedia = NULL
    WHERE idPublicacion = p_idPublicacion;
    
    SELECT ROW_COUNT() as filasAfectadas;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_verificar_blob_publicacion` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_verificar_blob_publicacion`(
    IN p_idPublicacion INT
)
BEGIN
    SELECT 
        idPublicacion,
        CASE 
            WHEN multimediaBlob IS NOT NULL THEN 1
            ELSE 0
        END as tieneBlob,
        multimediaMimeType,
        multimediaNombre,
        urlMultimedia as tieneUrl
    FROM Publicacion
    WHERE idPublicacion = p_idPublicacion;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-18 19:19:12
